#!/bin/bash
#
# Copyright (C) 2020 by SpEcHIDe@Github, < https://github.com/SpEcHIDe >.
#
# This file is part of < https://github.com/SpEcHIDe/NoPMsBot > project,
# Please see < https://github.com/SpEcHIDe/NoPMsBot/blob/master/COPYING >
#
# All rights reserved.

# Harap baca README untuk memahami setiap nilai variabel.
# ----------- WAJIB ----------- #

TG_BOT_TOKEN="123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11"
APP_ID="1234567"
API_HASH="0123456789abcdef0123456789abcdef"
AUTH_CHANNEL="-1001234567890"
DATABASE_URL="postgres://user:password@host:port/database"

# ----------- OPSIONAL ----------- #

# TG_BOT_WORKERS="4"
# COMMM_AND_PRE_FIX="/"
# BAN_COMMAND="ban"
# UN_BAN_COMMAND="unban"
# START_COMMAND="start"
# START_OTHER_USERS_TEXT=""
# ONLINE_CHECK_START_TEXT=""
# DERP_USER_S_TEXT=""
# IS_BLACK_LIST_ED_MESSAGE_TEXT=""
# REASON_DE_LIMIT_ER=""
# IS_UN_BANED_MESSAGE_TEXT=""
# BOT_WS_BLOCKED_BY_USER=""
# LOG_FILE_ZZGEVC=""
